.header
    display: flex
    justify-content: space-between
    &__menu
        display: flex
        align-items: center
        list-style-type: none
        margin-right: 18%
        margin-bottom: 0

        li
            margin-right: 35px
            &:nth-child(5)
                margin-right: 0
        a
            color: #555555
    &__contacts
        img
            margin-right: 10px
        &-phone
            a
                color: #000
        &-email
            margin-top: 12px
            a
                color: #000
        
        
            

            
                