
@media (max-width: 1356px)
    .slider
        max-width: 900px
    .slider__arrows-prev
        left: 80px
    .slider__arrows-next
        right: 80px
    
@media (max-width: 1200px)
    .container
        max-width: 960px 
    .header
        &__menu
            margin: 0px
    .slider
        max-width: 600px
    .slider__arrows-prev
        left: 110px
    .slider__arrows-next
        right: 110px

@media (max-width: 992px)
    .container
        max-width: 720px 
    .slider
        max-width: 300px
    .slider__arrows-prev
        left: 145px
    .slider__arrows-next
        right: 145px

@media (max-width: 768px)
    .container
        max-width: 540px 
    .slider
        max-width: 300px
    .slider__arrows-prev
        left: 55px
    .slider__arrows-next
        right: 55px

@media (max-width: 576px)
    .container
        width: 100%
        padding: 0 10px 
    .slider
        max-width: 300px
    .slider__arrows-prev
        left: 180px
        bottom: -70px
    .slider__arrows-next
        right: 180px
        bottom: -70px